
.body{
  background-image: url('img.png');

  background-repeat: no-repeat;
  background-size: cover;
  
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
 .titre h1{
margin: center;
    color: #A52A2A;

    text-decoration: underline solid #A52A2A;

    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
    letter-spacing: 5px;

font-size: 40px;

 }

.form input {
  font-family: FontAwesome, "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
border-radius:10px;
  
}
input[type=button]{
  font-family: "Titillium Web", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .1em;
  outline: 0;
  background: #B22222;
  width: 100%;
  border: 0;
  border-radius:30px;
  margin: 0px 0px 8px;
  padding: 15px;
  color: #FFFFFF;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  transition: all 0.2s;
}